.portal {
    display: flex;
    column-gap: 10px;
}

#student-table {
    /* display: flex;
    flex-direction: column; */
    width:100%;
    border-collapse: collapse;
}

.heading-row {
    border-bottom: 2px solid black;
}

#main {
    width: 100%;
}



  